.sidebar{
    width:250px;
    background:white;
    padding:20px;
    border-right:2px solid #eee;
    min-height:80vh;
}

.sidebar h2{
    color:#E63946;
    margin-bottom:20px;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    margin-bottom:12px;
}

.menu-link{
    display:block;
    text-decoration:none;
    padding:14px;
    border-radius:10px;
    background:#f7f7f7;
    color:#333;
    font-weight:600;
    transition:.3s;
}

.menu-link:hover{
    background:#FF9F1C;
    color:white;
    transform:translateX(5px);
}

.cart-badge{
    background:#E63946;
    color:white;
    padding:3px 8px;
    border-radius:20px;
    font-size:12px;
    font-weight:bold;
    float:right;
}